.section__hiddenButtons {
    display: flex;
    gap: 20px;
}

.section {
    background-color: white;
    margin: 10px 0px;
}

.section__header {
    margin: 5px 0;
    padding: 20px 25px;
    border-bottom: 2px solid #e6e6e6;
    font-weight: 700;
}

.section__header--split {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
}

@media (max-width: 767px) {
    .section__header--split {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 767px) {
    .section__hiddenButtons {
        flex-direction: column;
    }
}

.section__body {
    padding: 15px 20px;
}