.form {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
}

@media (max-width: 767px) {
    .form{
        grid-template-columns: 1fr;
    }
}

.form__input {
    padding: 5px;
    border: 2px solid #e6e6e6;
}

.form__input:focus {
    border: 2px solid black;
}

.form__addNewTaskbutton {
    color: white;
    font-weight: 100;
    background-color: hsl(180, 100%, 23%);
    border: 2px solid hsl(180, 100%, 23%);
    transition: 0.5s; 
}

.form__addNewTaskbutton:hover {
    background-color: hsl(180, 100%, 27%);
    transform: scale(1.1);
}

.form__addNewTaskbutton:active {
    background-color: hsl(180, 100%, 30%);
}