.hideDoneButton {
    padding: 0px;
    font-size: 19px;
    transition: 0.5s;
    border: none;
    background-color: white;
    color: hsl(180, 100%, 30%);
}

.hideDoneButton:hover {
    color: hsl(180, 100%, 37%);
}

.hideDoneButton:active {
    color: hsl(180, 100%, 40%);
}

.doneAllButton {
    padding: 0px;
    font-size: 19px;
    transition: 0.5s;
    border: none;
    background-color: white;
    color: hsl(180, 100%, 30%);
}

.doneAllButton:hover {
    color: hsl(180, 100%, 37%);
}

.doneAllButton:active {
    color: hsl(180, 100%, 40%);
}

.doneAllButton:disabled {
    color: grey;
}