.hideButtons {
    padding: 0px;
    font-size: 19px;
    transition: 0.5s;
    border: none;
    background-color: white;
    color: hsl(180, 100%, 30%);
}

.hideButtons:hover {
    color: hsl(180, 100%, 37%);
}

.hideButtons:active {
    color: hsl(180, 100%, 40%);
}

.hideButtons:disabled {
    color: grey;
}